    <script src="assets/js/plugins/jquery.js" defer></script>
    {{WOW_SCRIPT}}
    {{COUNTER_UP_SCRIPT}}
    {{CONTACT_FORM_SCRIPT}}
    {{SWIPER_SCRIPT}}
    <script src="assets/js/plugins/metismenu.js" defer></script>
    {{SPLIT_TEXT_SCRIPT}}
    <script src="assets/js/plugins/smooth-scroll.js" defer></script>
    {{ISOTOPE_SCRIPT}}
    {{GSAP_SCRIPTS}}
    <script src="assets/js/vendor/bootstrap.min.js" defer></script>
    {{WAYPOINT_SCRIPT}}
    <script src="assets/js/main.js" defer></script>
